# Windows
/desktop.ini

# Python virtual environments
/venv/
/.venv/

# Python cache
/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Project output
/export/
/output/checkpoints/

# Logs and archives
*.log
*.zip